[submodule "LPX"]
	path = LPX
	url = https://github.com/levpopov/LPX.git
[submodule "PseudoMakeMeKeyCapProfiles"]
	path = PseudoMakeMeKeyCapProfiles
	url = https://github.com/wolfwood/PseudoMakeMeKeyCapProfiles.git
